section {
	display: flex;
	flex-direction: column;
}

body.light section h1 {
    color: #03254c;
}

body.dark section h1 {
    color: #17252a;
}

body.light section table {
    color: #03254c;
}

body.dark section table {
    color: #17252a;
}

body.light section table tbody tr:nth-child(odd) {
	background-color: #FFFFFF;
}

body.light section table tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

body.dark section table tbody tr:nth-child(odd) {
	background-color: #def2f1;
}

body.dark section table tbody tr:nth-child(even) {
	background-color: #3AAFA9;
}